@import '../variables';

.card {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 280px;
    height: 640px;
    margin-right: 20px;
    margin-bottom: 40px;
    position: relative;
    padding: 10px;
    background-color: black;
    border: 1px solid $main-color;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    overflow: hidden;
    
    &:hover  .card-accor{
        opacity: 1;
    }

    &:hover .card-inner{
        transform: translateY(-150px);
    }

    &-img {
        position: relative;
        width: 258px;
        height: 352px;
        img {
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
        }
        .rating {
            position: absolute;
            top: 2%;
            right: 5%;
            display: flex;
            align-items: center;
            img {
                width: 18px;
                height: 20px;
            }
            span {
                color: white;
                font-size: 18px;
                margin-right: 5px;
            }
        }
    }


    &-inner {
        background-color: black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transform: translateY(-15px);
        color: white;
        cursor: pointer;
        transition: .3s all ease-in-out;
        transition-delay: .2s;


    }
    &-top {
        background-color: black;
    }
    &-title {
        text-align: center;
        border-bottom: 1px solid $main-color;
        padding-bottom: 5px;
        margin: 10px 0px;
        h1 {
            font-size: 18px;
            text-transform: capitalize;
        }
    }

    &-genre {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        span {
            font-size: 12px;
            text-transform: capitalize;
            border: 1px solid $grey-color;
            border-radius: 10px;
            color: $main-color;
            opacity: .7;
            padding: 2px 6px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }

    &-description {
        font-size: 12px;
        text-align: start;
        margin-top: 5px;
        margin-bottom: 15px;
        color: $grey-color;
        height: 90px;
        overflow: auto;
    }

    &-text {
        margin-bottom: 10px;
        text-align: start;
        font-size: 12px;
        background-color: black;
        color: $grey-color;
        p {
            padding: 5px;
        }
    }

    .card-accor {
        background-color: black;
        height: 0;
        opacity: 0;
        transition: all .3s ease-in;
        transition-delay: .1s;
    }

    .card-accor_block {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 5px;
        background-color: black;
    }

    .card-accor_title {
        padding: 3px;
        border-bottom: rgb(48, 48, 48) 3px solid;
        cursor: pointer;
        transition: .2s ease-in-out all;
        p {
            opacity: .7;
            transition: .2s ease-in-out all;
        }
        &-active {
            border-bottom: $main-color 3px solid;
            
            p {
                opacity: 1;
            }
        }
        &:hover {
            border-bottom: darken($main-color, 10%) 3px solid;
            p {
                opacity: 1;
            }
        }
    }

    .card-bottom {
        display: flex;
        flex-direction: column;
        color: white;
        z-index: 1;
        .card-bottom_block {
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
        }
        
        .price {
            font-size: 20px;
        }
    }

    button {
        display: block;
        background-color: $main-color;
        color: black;
        font-weight: 700;
        font-size: 18px;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        transition: 0.2s all ease-in-out;
        &:hover {
            background-color: darken($main-color, 10%);
        }
    }
}

.cardwrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}