@import '../variables';

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $grey-color;
    padding: 20px 0px;
    border-radius: 10px;
    border-bottom: 2px solid $main-color;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    img {
        padding-right:10px;
    }
    p {
        font-size: 16px;
        color: white;
    }
}

ul {
    display: flex;

    li {
        font-size: 16px;
        font-weight: 500;
        margin-right: 15px;
        cursor: pointer;
    }
}
