@import './variables';
@import './components/card';
@import './components/filter';
@import './components/header';

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}


body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(7, 4, 4);
}

button {
    border: none;
    font-size: inherit;
}

ul {
    list-style-type: none;
}

h1,h2,h3,h4 {
    margin: 0px;
}

.wrapper {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.sectionTitle {
    color: white;
    margin: 30px 0px 10px 0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}